{%block extrastyle%}
<style type="text/css">
  html,
  body,
  header,
  .carousel {
    height: 60vh;
  }

  @media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }
</style>
{%endblock%}


<div id="carouselExampleControls" class="carousel slide carousel-fade pt-4" data-ride="carousel"
data-interval="2000">

<div class="carousel-inner"  role="listbox">
    {%for product in ad_products %}

    <div class="carousel-item {% if loop.first %}active{%endif%}">
      <div class="view"
            style="background-image: url({{url_for('static', filename=product.images[0].path)}}); background-size: 33%; background-position: center;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">

            <h1 class="mb-4"><strong>{{product.name}}</strong></h1>

            <p><strong>{{product.owner}}</strong></p>

            <p class="mb-4 d-none d-md-block" style="max-width: 700px;">
              <strong>{{product.description|truncate(200, True)}}</strong>
            </p>
            <p class="mb-4 d-none d-md-block" style="font-size: smaller;">
              Added {{product.created|humanize}}
            </p>


            <a href="{{url_for('product_page', id=product.id)}}" class="btn btn-outline-white btn-lg">Product Page</a>

          </div>
        </div>
      </div>
    </div>
    {% else %}
    {%endfor%}
</div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 350px;"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="height: 350px;"></span>
    <span class="sr-only">Next</span>
</a>
</div>



<main>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark lighten-3 mt-3 mb-5" style="background-color: rgb(135, 192, 227);">
  <span class="navbar-brand">Categories</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">All</a>
      </li>
      {%if categories%}
      {% for category in categories[:4] %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home', id=category.id)}}">{{category}}</a>
      </li>
      {% endfor %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-flex-icons">
            <div class="dropdown">
              <li class="nav-item">
                  <a href="#" class="nav-link rounded waves-effect mr-2">Other</a>
              </li>
              <div class="dropdown-content">
                {% for category in categories[4::] %}
                  <li class="nav-item">
                    <a href="{{url_for('home', id=category.id)}}" class="nav-link rounded waves-effect mr-2" style="color: black;">{{category}}</a>
                  </li>
                {% endfor %}
              </div>
            </div>
          </ul>
      </ul>
      {%endif%}

    <form class="form-inline" method="POST">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
      </div>
    </form>
  </div>
</nav>

{% if products %}
<section class="text-center mb-4">
<div class="row wow fadeIn">

{% for product in products%}
<div class="col-lg-3 col-md-6 mb-4">
  <div class="card" style="height: 350px">
    <div class="view overlay">
      <img src="{{ url_for('static', filename=product.images[0].path)}}"
        class="card-img-top" alt="Image"  style="height: 225px;">
      <a href="{{url_for('product_page', id=product.id)}}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body text-center" style="max-height: 125px; margin-top: 0px; padding: 0px 5px;">
      <a href="{{url_for('product_page', id=product.id)}}">
        {% if current_user.is_authenticated %}
        <p style="font-size: {%if product.name|length< 15%}large{%else%}smaller{%endif%}; color: black;">{{product.name|truncate(23, True)}}<span class="grey-text" style="margin-left: 20px; font-size: 18px;"><strong style="font-size: small;">{{product.get_price()}} {{current_user.currency.abr}}</strong></span></p>
        {%else%}
          {{product.get_price()}}{{product.currency}}
        {%endif%}
      </a>

      <p>
        <strong>
          {%if product.product_category%}
          <a href="{{url_for('home', id=product.product_category[0].id)}}" class="dark-grey-text">{{product.category}}
            <span class="badge badge-pill badge-primary">{{product.product_category[0]}}</span>
          {%endif%}
            {% if (time - product.created).days <= 7 %}<span class="badge badge-pill danger-color">NEW</span>{% endif %}
          </a>
        </strong>
      </p>

      <div>
        <p style="color:rgb(242, 74, 74)" class="mb-0">
          <button class="btn btn-link p-0" {% if current_user.is_authenticated %} onclick="likeProduct({{product.id}})"{% else %} data-toggle="modal" data-target="#exampleModal"{%endif%}>
            <i class="fa fa-heart"  id="like{{product.id}}"  style="color: {%if product in current_user.saved%} red {%else%} grey {%endif%};"></i>
          </button>
          <span style="font-size: smaller;"  id="like_num{{product.id}}">{{product.like}}</span><span style="font-size: smaller;"> likes</span>
          <span style="font-size: smaller; color: grey; margin-left: 10px;">{{product.created|humanize}}</span>
        </p>
      </div>


    </div>
  </div>
</div>
{% endfor %}

</div>
</section>

{% endif %}

</div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Please Log In to provide some activities
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-black" data-dismiss="modal">Back</button>
      <a href='{{url_for("auth.login")}}' class="btn btn-light">Log In</a>
    </div>
  </div>
</div>
</div>