  <!-- Modal -->
  <div class="modal fade" id="modalDefaultUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto" style="max-width: 345px" role="document">
      <div class="modal-content rounded-lg">
        <div class="col text-center mt-4">
          <h3 class="modal-title font-weight-bold" id="exampleModalLongTitle">Just reviewing?</h5>
          <p class="pt-2 w-75 mx-auto" style="font-size: 14px;">Use a default users prepared for you to review all of the features in my application</p>
        </div>
        <div class="col text-center">
            <div class="col text-center">
                <a href="#" data-toggle="modal" data-target="#modalDefaultUser" class="nav-link border border-dark btn-dark rounded waves-effect">
                    <span style="color: #fff">Use Default User</span>
                </a>
                <a href="#" id='get-started-login' class="nav-link border border-light rounded waves-effect mr-2" style="display: none;">Get Started</a>
                <p>
                    <small class="text-muted">Already have an account?
                        <a href="#">Login</a>
                    </small>
                </p>
            </div>
        </div>

      </div>
    </div>
  </div>