<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{{url_for('home')}}">
            <strong class="blue-text">MDB</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="{{url_for('home')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#" target="_blank">About MDB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                       target="_blank">Free download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free
                        tutorials</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if current_user.role %}
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{{url_for('create_product')}}">
                        <span class="clearfix d-none d-sm-inline">+ Add new Product </span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                    </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <li class="nav-item">
                            <a href="#" class="nav-link rounded waves-effect mr-2">{{current_user}}</a>
                        </li>
                        <div class="dropdown-content">
                            {% if current_user %}
                                <li class="nav-item">
                                    <a href="{{url_for('auth.profile')}}" class="nav-link waves-effect mr-2">Profile</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#" class="nav-link waves-effect mr-2">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{url_for('auth.logout')}}" class="nav-link waves-effect mr-2">Log Out</a>
                            </li>
                        </div>
                    </div>
                        {% if current_user.logo %}
                        <li class="nav-item">
                            <img src="{{url_for('static', filename=current_user.logo)}}" alt="" class="logo">
                        </li>
                        {% elif current_user.avatar %}
                        <li class="nav-item">
                            <img src="{{url_for('static', filename=current_user.avatar)}}" alt="" class="logo">
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <img src="{{url_for('static', filename='img/user_inputs/default/image.png')}}" alt="" class="logo" style='width: 32px;'>
                        </li>
                        {% endif %}
                {%else%}
                    <li class="nav-item">
                        <a href="{{url_for('auth.registrate_customer')}}" class="nav-link border border-light rounded waves-effect mr-2">Sing Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('auth.login')}}" class="nav-link border border-dark btn-dark rounded waves-effect"><span style="color: #fff">Sing In</span></a>
                    </li>
                {%endif%}
            </ul>

        </div>

    </div>
</nav>