<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{{url_for('home')}}">
            <strong class="blue-text">FMP</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="{{url_for('home')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if current_user.role %}
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{{url_for('create_product')}}">
                        <span class="clearfix d-none d-sm-inline">Add Product </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{{url_for('checkout.marketing_tools')}}">
                        <span class="clearfix d-none d-sm-inline">Marketing Tools</span>
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#" >Privacy policy</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">

                <li class="nav-item">
                    <a class="nav-link waves-effect" {% if not current_user.is_authenticated %} data-toggle="modal" data-target="#exampleModal"{%endif%} href="{% if current_user.is_authenticated %}{{url_for('card')}}{% endif %}">
                        {%if current_user.card_id%}
                        <span id="cart_badge" class="badge badge-pill danger-color" style="display: inline-block; padding: 5px; margin: 0 0 5px -5px;"></span>
                        {%endif%}
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                    </a>
                </li>


                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <li class="nav-item">
                            <a href="{{url_for('auth.profile')}}" class="nav-link rounded waves-effect mr-2">{{current_user}}</a>
                        </li>
                        <div class="dropdown-content">
                            {% if current_user %}
                                <li class="nav-item">
                                    <a href="{{url_for('auth.profile')}}" class="nav-link waves-effect mr-2">Profile</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#" class="nav-link waves-effect mr-2">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{url_for('auth.logout')}}" class="nav-link waves-effect mr-2">Log Out</a>
                            </li>
                        </div>
                    </div>
                        {% if current_user.logo %}
                        <li class="nav-item">
                            <a href="{{url_for('auth.profile')}}"><img src="{{url_for('static', filename=current_user.logo)}}" alt="" class="logo"></a>
                        </li>
                        {% elif current_user.avatar %}
                        <li class="nav-item">
                            <a href="{{url_for('auth.profile')}}"><img src="{{url_for('static', filename=current_user.avatar)}}" alt="" class="logo"></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{url_for('auth.profile')}}"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="logo" style='width: 32px;'></a>
                        </li>
                        {% endif %}
                {%else%}
                    <li class="nav-item">
                        <a href="{{url_for('auth.register_customer')}}" class="nav-link border border-light rounded waves-effect mr-2">Sing Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('auth.login')}}" class="nav-link border border-dark btn-dark rounded waves-effect"><span style="color: #fff">Sing In</span></a>
                    </li>
                {%endif%}
                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <li class="nav-item">
                        <a href="#" class="nav-link rounded waves-effect mr-2" style="color: rgb(43, 172, 220); font-size: smaller; margin: 3px 0 0 5px; font-weight: 400;">{{current_user.currency}}</a>
                    </li>
                    <div class="dropdown-currency">
                        {% set currencies = ['USD', 'EUR', 'UAH', 'RUB', 'CNY', 'GBP'] %}
                        {% for currency in currencies %}
                            {% if not currency == current_user.currency.abr %}
                                <li class="nav-item">
                                    <a onClick="changeCurrency('{{currency}}')" class="mr-2 waves-effect li-currency">{{currency}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {%endif%}
            </ul>

        </div>

    </div>
</nav>
