{% extends 'base.html' %}

{%block extratitle%}Card{%endblock%}

{% block extrastyle %}
<link rel="stylesheet" href="{{url_for('static', filename='css/products/card.scss')}}">
<style>
  .button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}
.button:active{
  outline: none;
}

.button:focus{
  outline: none;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
</style>
{%endblock%}


{% block content %}

{% if card %}
<!--Grid column-->
<div id="cart_block" class="col-md-5 mx-auto my-auto">

    <!-- Heading -->
    <h4 class="d-flex justify-content-between align-items-center mb-3 mt-5">
      <span class="text-muted">Your cart</span>
      <div>
        <span id="total_amount" class="badge badge-primary badge-pill">{{card.get_quantity()}}</span>
        <button class="button close pull-right " type="button" data-toggle="modal" data-target="#cartModalCenter" style="margin-left: 10px;">
          <span class="badge badge-danger badge-pill">x</span>
        </button>
        
      </div>
      
    </h4>

    <!-- Cart -->
    <ul id="ul_cart" class="list-group mb-3 z-depth-1">
        {% for order in card.product_order %}
      <li id="order_block{{order.id}}" class="justify-content-between lh-condensed p-3" style="border-bottom: 1px solid rgb(224, 221, 221); display: flex;">
          <div class="row">
            <div class="col-3">
                <a href="{{url_for('product_page', id=order.product)}}">
                    <img style="max-width: 100%;" src="{{url_for('static', filename=order.product_obj.images[0].path)}}" alt="APE">
                </a>
            </div>
            <div class="col-9" style="max-width: 450px;">
                <h4 class="my-0">{{order.product_obj.name}}</h4>
                <small class="text-muted">{{order.product_obj.description|truncate(125, true) }}</small>
            </div>
          </div>
          <a onclick="changeAmountOfProduct({{order.quantity}}, '-', {{order.id}}, {{card.id}})"  style="margin-right: 5px; padding-left: 10px;">
            <span id="add_product" class="badge badge-warning badge-pill">-</span>
          </a>

          <a onclick="changeAmountOfProduct({{order.quantity}}, '+', {{order.id}}, {{card.id}})"  style="margin-right: 20px;  width: 10px;">
            <span id="add_product" class="badge badge-success badge-pill">+</span>
          </a>
          <span id="order{{order.id}}" class="text-muted">{{order.quantity}}</span>
          <span class="text-muted px-1" style="font-size: small;">  x  </span>
          <span id="order_price{{order.id}}" class="text-muted"> {{order.product_obj.price}}</span>
      </li>
      <li id="order_edit_btn{{order.id}}" class="p-3" style="list-style-type: none; margin-top: -60px">
        <button class="button close pull-right" type="button" data-toggle="modal" data-target="#exampleModalCenter{{order.id}}" style="color: red; font-size: 26px;"> x
        </button>
      </li>
        <!-- Modal delete order-->
        <div class="modal fade" id="exampleModalCenter{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you really sure you want to delete this Product/s from your cart?
              </div>
              <div class="modal-footer">
                <a onclick="deleteOrder({{order.id}}, {{card.id}})" class="btn btn-danger"  data-dismiss="modal">Delete </a>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      <!-- Modal delete cart-->
      <div class="modal fade" id="cartModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you really sure you want to delete this cart?
            </div>
            <div class="modal-footer">
              <a href="{{url_for('delete_cart', cart_id=card.id)}}"  class="btn btn-danger"  >Delete</a>
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <li class="d-flex justify-content-between p-3">
        {% if current_user.active_discount %}
        <span>Total (USD):  <strong id="total_price" style='text-decoration: line-through; color: red;'>{{card.get_total_price()}}</strong> 
          <strong id="total_price">
           | {{ card.price_with_discount() }}
           <span style="font-size: small; color: grey"> {{current_user.coupons[-1].promotion.title}} {{current_user.coupons[-1].promotion.discount_value}} 
            {% if current_user.coupons[-1].promotion.discount_type.name == 'persent'%}%{%else%}{{current_user.coupons[-1].promotion.currency}}{%endif%}</span>
          </strong>
        </span>
        {%else%}
        <span>Total (USD):  <strong id="total_price">{{card.get_total_price()}}</strong></span>
        {%endif%}
        <a href="{{url_for('checkout', cart_id=card.id)}}" class="btn btn-primary btn-md waves-effect m-0" type="button">Buy</a>
      </li>
    </ul>
    <!-- Cart -->
      <div class="input-group"  style="max-width: 400px;">
        <input id="code" type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <a id="find_promotion" class="btn btn-primary btn-md waves-effect m-0" onclick="findCoupon()" type="button">Find Promotion</a>
          <a id="apply_promotion" class="btn btn-primary btn-md waves-effect m-0" onclick="applyPromotion()" type="button" style="display: none;">Apply</a>
          <input id="id_coupon" type="hidden">
        </div>
      </div>
      <p id="promotion_message" style="display: none; color: red; margin: 10px;">* No Promotion Found</p>

  </div>
  <!--Grid column-->
  {%endif%}
<div id="empty_cart" {%if card %}style="display: none;"{%else%} class="row" {% endif %}>
  <div class="center-block">
    <div class="col-md-12 mx-auto center-block" style="margin-top: 30%;">
      <i class="fas fa-shopping-cart" style="font-size: 1040%; margin-bottom: 30%; margin-left: 20px; color: rgb(191, 188, 188); text-shadow: 2px 3px rgb(167, 166, 166);"></i>
      <h2 style="color: rgb(191, 188, 188);">Your cart is empty</h2>
    </div>
  </div>
</div>

{% endblock %}