{% extends 'base.html' %}

{%block title%}MDB{%endblock%}

{%block extrastyle%}
<style type="text/css">
  html,
  body,
  header,
  .carousel {
    height: 60vh;
  }

  @media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }
</style>
{%endblock%}


{%block content%}


<div id="carouselExampleControls" class="carousel slide carousel-fade pt-4" data-ride="carousel" 
    data-interval="2000">

    <div class="carousel-inner"  role="listbox">
        {%for product in ad_products %}
        
        <div class="carousel-item {% if loop.first %}active{%endif%}">
          <div class="view"
                style="background-image: url({{url_for('static', filename=product.images[0].path)}}); background-repeat: no-repeat; background-size: cover;">
            <div class="mask rgba-black-strong d-flex justify-content-center align-items-center"> 
              <div class="text-center white-text mx-5 wow fadeIn">

                <h1 class="mb-4"><strong>{{product.owner}}</strong></h1>
  
                <p><strong>{{product}}</strong></p>
  
                <p class="mb-4 d-none d-md-block" style="max-width: 700px;">
                  <strong>{{product.description|truncate(200, True)}}</strong>
                </p>

                <a href="#" class="btn btn-outline-white btn-lg">Add to Cart <i class="fas fa-shopping-cart"></i></a>
                <a href="{{url_for('product_page', id=product.id)}}" class="btn btn-outline-white btn-lg">Product Page</a>

              </div>
            </div>
          </div>
        </div>
        {% else %}
        {%endfor%}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 350px;"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="height: 350px;"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<main>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <span class="navbar-brand">Categories</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">All</a>
          </li>

          {% for category in categories[:4] %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home', id=category.id)}}">{{category}}</a>
          </li>
          {% endfor %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-flex-icons">  
                <div class="dropdown">
                  <li class="nav-item">
                      <a href="#" class="nav-link rounded waves-effect mr-2">Other</a>
                  </li>
                  <div class="dropdown-content">
                    {% for category in categories[4::] %}
                      <li class="nav-item">
                        <a href="{{url_for('home', id=category.id)}}" class="nav-link rounded waves-effect mr-2" style="color: black;">{{category}}</a>
                      </li>
                    {% endfor %}
                  </div>
                </div>
              </ul>
          </ul>

        <form class="form-inline" method="POST">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
          </div>
        </form>
      </div>
    </nav>

{% if products %}
<section class="text-center mb-4">
  <div class="row wow fadeIn">

  {% for product in products%}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card" style="height: 275px">
        <div class="view overlay">
          <img src="{{ url_for('static', filename=product.images[0].path)}}"
             class="card-img-top" alt="Image"  style="height: 135px">
          <a href="{{url_for('product_page', id=product.id)}}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="{{url_for('product_page', id=product.id)}}" class="grey-text">
            <h5>{{product}}</h5>
          </a>

          <h4 class="font-weight-bold">
            <strong>${{product.price}}</strong>
          </h4>

          <p>
            <strong>
              <a href="{{url_for('home', id=product.product_category[0].id)}}" class="dark-grey-text">{{product.category}}
                <span class="badge badge-pill badge-primary">{{product.product_category[0]}}</span>
                {% if (time - product.created).days <= 7 %}<span class="badge badge-pill danger-color">NEW</span>{% endif %}
              </a>
            </strong>
          </p>

          <div>
            <p style="color:rgb(242, 74, 74)" class="mb-0">
              <button class="btn btn-link p-0" onclick="likeProduct({{product.id}})"><i class="fa fa-heart" style="color: {%if product in current_user.liked_products%} red {%else%} rgb(126, 126, 126) {%endif%};"></i></button>
              <span style="font-size: smaller;">{{product.like}} likes</span>
            </p>
          </div>
          

        </div>
      </div>
    </div>
  {% endfor %}

</div>
</section>

{% endif %}

    </div>
  </main>
{%endblock%}
