.content_ {
    min-height: 100%;
}
img.logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 4px;
}
li.nav-item {
    margin-left: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;;
    min-width: 140px;
    padding: 5px 5px;
    z-index: 1;
}

.dropdown-currency {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 8px;
    z-index: 1;
    max-width: 75px;
}

.li-currency:hover {
    color: red;
}

.li-currency {
    color: grey;
    font-size: smaller;
}

.dropdown:hover .dropdown-currency {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
img {
    object-fit: cover;
}
.alert {
    margin-top: -15px;
    color: rgb(214, 12, 12);
    font-size: 14px;
}
.alert::before{
    content: '*';
}
.fab-big {
    font-size: 34px;
}

.like {
    color: rgb(126, 126, 126);
}
.like:focus {
    color:red;
}

.bg-light-o-50 {
    background-color: #e0e0e0a7;
}