{% extends 'base.html' %}

{%block title%}Marketing tools{%endblock%}

{%block content%}
    
    <div class="center-block">
        <p style="text-align: center;"><i class="fa fa-code" style="font-size: 840%; margin: 8% 0 7% 0; color: rgb(191, 188, 188); text-shadow: 2px 3px rgb(167, 166, 166); "></i></p>
        <h2 style="color: rgb(191, 188, 188); text-align: center; margin-bottom: 3%;">You have no promotion</h2>
        <p style="text-align: center;"><a href="{{url_for('checkout.create_promotion')}}" class="nav-link border border-light rounded waves-effect mr-2">Add promotion</a></p>
        
    </div>
{%endblock%}