<style>
    @media (min-width: 1000px) {
        .background-hidden {
            background: none;
        }
    }
</style>


<div class="col pt-3 pb-1 my-auto mx-auto bg-light-o-50 rounded-lg border-light background-hidden"
        style="width: 265px; z-index: 1">
    <a href="#" class="nav-link border border-dark btn-dark rounded waves-effect">
        <span style="color: #fff">Get Started</span>
    </a>
    <p>
        <small class="text-muted">Already have an account?
            <a href="#">Login</a>
        </small>
    </p>
</div>