{% extends 'base.html' %}
{%block extrastyle%}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth/profile_seller.css')}}">
{%endblock%}

{%block title%}Edit Seller Page{%endblock%}

{%block content%}
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Seller Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    <form action="" method="post" enctype="multipart/form-data">
      {{csrf_token}}

      <div class="row">

          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                
                  <div class="image-upload">
                    <label for="file">
                      {% if user.logo %}
                        <img class="avatar" src="{{url_for('static', filename=user.logo)}}" alt="">
                      {% else %} 
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="225px" height="225px">
                      {% endif %}
                    </label>
                    <input type="file" class="form-control" id="file" name="logo" value="{{user.logo}}">
                  </div>
                  
                  <div class="mt-3">
                    <p class="text-muted font-size-sm text-center">Edit Logo</p>
                  </div>

                  <div class="intend"></div>

                  <div class="form-group mb-6">
                    <label for="password">Current Password: </label>
                    <input class="form-control" type="password" name="password" placeholder='*******'>
                </div>   
                <div class="form-group mb-6">
                    <label for="new_password">New Password: </label>
                    <input class="form-control" type="password" name="new_password">
                </div>  
                <div class="form-group mb-6">
                    <label for="repeat_password">Repeat Password: </label>
                    <input class="form-control" type="password" name="repeat_password">
                </div>  

              </div>
            </div>
          </div>

        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">

                <div class="col">
                  <div class="form-group row" >
                    <label class="w-150" for="first_name">First Name: </label>
                    <input class="form-control w-400" type="text" name="first_name" value={{user.first_name}}>
                  </div>
                </div>
                
                <div class="col">
                  <div class="form-group row">
                    <label class="w-150" for="last_name">Last Name: </label>
                    <input class="form-control w-400" type="text" name="last_name" value={{user.last_name}}>
                  </div>
                </div>
              <hr>
                <div class="col">
                  <div class="form-group row">
                    <label class="w-150"  for="company_name">Company Name: </label>
                    <input class="form-control w-400" type="text" name="company_name" value={{user.company_name}}>
                  </div>
                </div>

              <hr>
              <div class="col">
                <div class="form-group row">
                  <label class="w-150" for="email">E-mail: </label>
                  <input class="form-control w-400" type="email" name="email" value={{user.email}}>
                </div>
              </div>

              <hr>
              <div class="col">
                <div class="form-group row">
                  <label class="w-150" for="phone">Phone Number: </label>
                  <input class="form-control w-400" type="text" name="phone" value="+{{user.phone.country_code}}{{user.phone.national_number}}">
                </div>
              </div>

              <hr>
              <div class="col">
                <div class="form-group row">
                  <label class="w-150" for="country">Country: </label>
                  <select name="country" id="country" class="form-control w-400" >
                    {% for country in countries %}
                      {% if country.name == user.country %}
                      <option value="{{country.alpha_2}}" selected>{{country.name}}</option>
                      {% else %}
                      <option value="{{country.alpha_2}}">{{country.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <hr>
              <div class="col">
                <div class="form-group row">
                  <label class="w-150" for="type">Business type: </label>
                  <select name="type" id="type"  class="form-control w-400" >
                    {% for type in business_types %}
                      {% if [type] == user.busines_type %}
                        <option value="{{type}}" selected>{{type}}</option>
                      {% else %}
                        <option value="{{type}}">{{type}}</option>
                      {%endif%}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <hr>
              <div class="col">
                <div class="form-group row">
                  <label class="w-150" for="type">Category: </label>
                  <select name="category" id="category" class="form-control w-400" multiple>
                    {% for category in categories %}
                      {% if category in user.category %}
                        <option value='{{category}}' selected>{{category}}</option>
                      {% else %}
                        <option value='{{category}}'>{{category}}</option>
                      {%endif%}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <hr>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                  <def class="alert" role="alert" style="margin-top: 20px; color: red;">
                      * {{ message }}
                  </def>
                    {% endfor %}
                {% endif %}
              {% endwith %}
              <br><br>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-info" type="submit">Submit</button>
                  <a class="btn btn-light" href="{{url_for('auth.profile')}}">Back</a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                    Delete
                  </button>
                </div>
              </div>

              <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you really sure that you want to delete your account immediately and irrevocably?
                  </div>
                  <div class="modal-footer">
                    <a href="{{url_for('auth.delete_seller', id=user.id)}}" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


            </div>
          </div>
        </div>


     
    </div>
  </form>
{%endblock content%}